<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 상세 정보</title>
</head>
<body>
    <div>
        <h1>결제</h1>
    </div>
    <div>
        <h2>주문자정보</h2>
        <p>이름 : </p>
        <p>이메일 : </p>
        <p>연락처 : </p>
    </div>
    <div>
        <h2>결제정보</h2>
    </div>
    <div>
        <span>결제방법 SSRCPay</span>
    </div>
    <div>
        <span>최종 결제금액 </span>
    </div>
    <a href="">결제</a>
</body>
</html>