{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" />

<style>
    body { overflow: auto; }
</style>
{% endblock %}

{% block title %}문제 목록{% endblock %}


{% block content %}
{% include "nav.html" %}
<div class="form-wrapper form-quiz-list">
    <div class="form-template quiz-list">
        <h1 class="form-title">문제 목록</h1>
    
        <form class="search-area" onsubmit="return Search()">
            <!-- <div>
                <div>
                    <select class="filter" name="">
                        <option value="0">전체</option>
                    </select>
                </div>
                <div>
                    <select class="filter" name="">
                        <option value="0">최신순</option>
                        <option value="1">오래된 순</option>
                    </select>
                </div>
            </div> -->
            <div>
                <input type="search" name="keyword">
                <button class="button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
        <div class="form-content">
            <div class="form-row header">
                <div class="form-column subject">과목</div>
                <div class="form-column question">문제</div>
            </div>
            {% if quizzes | length == 0 %}
                <div class="form-row">
                    <div class="form-column" style="margin: 0 auto;">데이터가 없습니다.</div>
                </div>
            {% else %}
                {% for quiz in quizzes %}
                    {% if quiz.u_id == current_user.id or current_user.id == 1 %}
                        <div class="form-row">
                            <div class="form-column subject">{{ quiz.s }}</div>
                            <div class="form-column question"><a href="{{ url_for('quiz.quiz_edit', idx=quiz.id)}}">{{ quiz.q }}</a></div>
                        </div>
                    {% else %}
                        <div class="form-row">
                            <div class="form-column subject">{{ quiz.s }}</div>
                            <div class="form-column question"><a href="{{ url_for('quiz.quiz_detail', idx=quiz.id)}}">{{ quiz.q }}</a></div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-pagination">
            {% for p in range(start_page, end_page + 1) %}
            {% if p == page %}
            <strong>{{ p }}</strong>
            {% else %}
            <a href="{{ url_for('quiz.quiz_list', page=p, type=type)}}">{{ p }}</a>
            {% endif %}
            {% endfor %}
        </div>

        <div class="button-area">
            <button class="button" type="button" onclick="location.href='/quiz/add'">추가</button>
            <button class="button" type="button" onclick="location.href='/'">메인으로</button>
        </div>
    </div>
</div>

<script>
    function Search() {
        let keyword = document.querySelector("input[name='keyword']");

        if (keyword) {
            location.href = "{{ url_for('quiz.quiz_list', type=type) }}" + "&keyword=" + keyword.value;
        }

        return false;
    }
</script>
{% endblock %}
