{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" />

<style>
    body { background-color: #424D83; }
</style>
{% endblock %}

{% block title %}강의 목록{% endblock %}

{% block content %}
{% include "nav.html" %}
<div class="form-wrapper form-lecture-list">
    <div class="form-template lecture-list">
        <h1 class="form-title">강의 목록</h1>

        <div class="form-content">
            <div class="form-row header">
                <div class="form-column subject">과목</div>
                <div class="form-column lecture-name">강의 이름</div>
            </div>
            {% if lectures | length == 0 %}
                <div class="form-row">
                    <div class="form-column" style="margin: 0 auto;">데이터가 없습니다.</div>
                </div>
            {% else %}
                {% for lecture in lectures %}
                    <div class="form-row">
                        <div class="form-column subject">{{ lecture.subject_name }}</div>
                        <div class="form-column lecture-name">
                            <a href="{{ url_for('lecture.lecture_detail', id=loop.index0) }}">{{ lecture.lecture_name }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="button-area">
            <a class="button" href="/">메인으로</a>
        </div>
    </div>
</div>
{% endblock %}
